.broadcast {
    padding: 1.5rem;
    min-width: 320px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    color: var(--text-color);
    background: var(--secondary-color);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.broadcast-header {
    color: var(--text-color);
}

.broadcast-header-buttons button {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 0.5rem;
    margin-left: 5px;
}

.broadcast-buttons {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.broadcast-buttons button {
    padding: 0.5rem;
    float: right;
    margin-left: 5px;
}

.broadcast i {
    padding: 0.4rem;
}

.broadcast button i {
    padding: 0.2rem;
}

#broadcasterSettingsForm {
    z-index: 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
}

.broadcast select {
    padding: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 0.9rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.broadcast input {
    padding: 1rem;
    color: var(--input-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.broadcast-quality-fps {
    display: flex;
    align-items: center;
}

.broadcast-quality-fps select {
    width: 50%;
    margin: 0px 2px;
}

.qrRoomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages {
    padding: 1.5rem;
    width: var(--form-width);
    height: var(--form-height);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    color: var(--text-color);
    background: var(--secondary-color);
    border: var(--border);
    border-radius: var(--border-radius);
}

.messages-header {
    color: var(--text-color);
    display: grid;
    grid-gap: 1rem;
}

.messages-buttons button i,
.messages-header label i {
    padding: 0.2rem;
}

.messages-buttons button {
    padding: 0.5rem;
    float: right;
    margin-left: 5px;
}

.messages-incoming {
    padding: 1rem;
    margin-top: 20px;
    min-height: 80%;
    max-height: 80%;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: auto;
}

.messages-incoming span {
    color: var(--msg-title-color);
}
.messages-incoming p {
    color: var(--text-color);
}

.viewers {
    padding: 1.5rem;
    width: var(--form-width);
    height: var(--form-height);
    grid-template-columns: auto;
    color: var(--text-color);
    background: var(--secondary-color);
    border: var(--border);
    border-radius: var(--border-radius);
}

.viewers-header {
    color: var(--text-color);
    display: grid;
    grid-gap: 1rem;
}

.viewers-header input {
    padding: 1rem;
    color: var(--text-color);
    border: none;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.viewers-buttons button i {
    padding: 0.2rem;
}

.viewers-buttons button {
    padding: 0.5rem;
    float: right;
    margin-left: 5px;
}

.viewers-area {
    padding: 1rem;
    margin-top: 20px;
    min-height: 75%;
    max-height: 75%;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: auto;
}
