* {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #f6f6f6;
    --text-color: #242424;
    --msg-title-color: #2196f3;
    --input-color: #6e6c6c;
    --btn-color: #242424;
    --hover-color: #f6f6f6;
    --tran-05: all 0.5s ease;
    --scrollbar-bg: #2196f3;
    --form-width: 50%; /* 85vw mobile */
    --form-height: 80%; /* 90vw mobile */
    --border: 0.1px solid #888888;
    --border-radius: 1rem;
    --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.16);
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    overflow: auto; /* auto|hidden */
}

body.dark {
    --primary-color: #202123;
    --secondary-color: #44484b;
    --text-color: #f5f5f5;
    --msg-title-color: #2196f3;
    --input-color: #a0a4a6;
    --btn-color: #fff;
    --hover-color: #2196f3;
    --scrollbar-bg: #2196f3;
    --border: 0.1px solid #888888;
    --border-radius: 1rem;
    --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg);
}

button {
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

button:hover {
    background-color: var(--hover-color);
    color: var(--btn-color);
    transition: var(--tran-05);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.container video {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.container video:hover {
    filter: contrast(105%);
}

.video-off {
    z-index: 2;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 15vh;
    height: 15vh;
    transform: translate(-50%, -50%);
}

video:fullscreen {
    object-fit: contain;
}

video::-webkit-media-controls {
    display: none !important;
}

.mirror {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.support {
    text-align: right;
}

.support button {
    padding: 0.5rem;
}

.swal2-title,
.swal2-content {
    background-color: var(--panel-color) !important;
    color: var(--text-color) !important;
    text-align: center;
}

.swal2-html-container {
    background-color: var(--panel-color) !important;
    color: var(--text-color) !important;
}

.swal2-popup {
    border-radius: var(--border-radius) !important;
    background-color: var(--primary-color) !important;
}

.swal2-actions button {
    color: var(--text-color) !important;
    background: var(--secondary-color) !important;
    box-shadow: none !important;
}

.swal2-timer-progress-bar-container {
    background: #2196f3;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

td,
th {
    border: var(--border);
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

.color-red {
    color: red;
}

.hidden {
    display: none;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* vertical align center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeIn {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pulse {
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

.pulse-bg {
    background-color: var(--hover-color);
    color: var(--btn-color);
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
